/******************* Utilities *******************/
.plan-card {
    align-items: flex-start !important;
}

.top-align {
    align-items: start !important;
}

.cursor {
    cursor: pointer;
}

.icons {
    margin-right: 20px;
}

.show {
    display: block;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 40px;
}

.card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btn-outline {
    background-color: transparent;
    border: 1px #fff solid;
}

.btn:hover {
    transform: scale(.95);
}

.btn-outline-banner {
    background-color: transparent;
    border: 2px #fff solid;
}

/******************* bg and color for buttons *******************/
.bg-primary, .btn-primary {
    background-color: var(--primary-color);
    /* background-color: #004cbe; */
    color: #fff;
}

.bg-secondary, .btn-secondary {
    background-color: var(--secondary-color);
    color: #fff;
}

.bg-light, .btn-light {
    background-color: var(--light-color);
    color: #000;
}
.bg-dark, .btn-dark {
    background-color: var(--dark-color) !important;
    color: #fff;
}

/* tentative */
/* .bg-dark {
    background-color: #343a40 !important;
} */

.bg-primary a, .btn-primary a,
.bg-secondary a, .btn-secondary a,
.bg-dark a, .btn-dark a {
    color: white;
}

.fullbtn {
    width: 100%;
}

/******************* text sizes *******************/
.lead {
    font-size: 20px !important;
}

.sm {
    font-size: 1rem !important;
}

.md {
    font-size: 2rem !important;
}

.lg {
    font-size: 3rem !important;
}

.xl {
    font-size: 4rem !important;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-2 {
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-rows: repeat(1, 1fr) !important;
}

.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

/******************* Margin *******************/
.my-0 {
    margin: 0;
}

.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 1.5rem 0;
}

.my-3 {
    margin: 2rem 0;
}

.my-4 {
    margin: 3rem 0;
}

.my-5 {
    margin: 4rem 0;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 1.5rem;
}

.m-3 {
    margin: 2rem;
}

.m-4 {
    margin: 3rem;
}

.m-5 {
    margin: 4rem;
}

/******************* Padding *******************/
.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 1.5rem 0;
}

.py-3 {
    padding: 2rem 0;
}

.py-4 {
    padding: 3rem 0;
}

.py-5 {
    padding: 4rem 0;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 1.5rem;
}

.p-3 {
    padding: 2rem;
}

.p-4 {
    padding: 3rem;
}

.p-5 {
    padding: 4rem;
}

/******************* SCROLL TOP BUTTON *******************/
.top-link {
    transition: all .25s ease-in-out;
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline-flex;
    
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 0 3em 3em 0;
    border-radius: 50%;
    padding: .25em;
    width: 60px;
    height: 60px;
    background-color: var(--dark-color);
    visibility: hidden;
    opacity: 0;

}

.hidescroll {
    visibility: hidden;
    opacity: 0;
}


.showscroll {
    visibility: visible;
    opacity: 1;
}

svg {
    fill: #fff;
    width: 20px;
    height: 10px;
}
  
.screen-reader-text {
    position: absolute;
    clip-path: inset(50%);
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    word-wrap: normal !important;
    clip: rect(1px, 1px, 1px, 1px);
}
.screen-reader-text:focus {
    display: block;
    top: 5px;
    left: 5px;
    z-index: 100000;
    clip-path: none;
    background-color: #eee;
    padding: 15px 23px 14px;
    width: auto;
    height: auto;
    text-decoration: none;
    line-height: normal;
    color: #444;
    font-size: 1em;
    clip: auto !important;
}

/******************* text-colors *******************/
.text-primary {
    color: #00388c !important;
}

.text-secondary {
    color: #1c3fa8 !important;
}

.text-dark {
    color:#002240 !important;
}

.text-light {
    color: #f4f4f4 !important;
}

.text-bg {
    color: #e4e4e4 !important;
}

.text-support {
    color: #19b0b8 !important;
}

.text-left {
    max-width: 280px;
    text-align: left;
    margin: auto;
    margin-bottom: 20px;
}